arabic-reshaper
defusedxml
dj-database-url
Django
django-bootstrap5
django-crispy-forms
django-debug-toolbar
django-dotenv
django-etc
django-extensions
django-filter
django-formtools
django-mptt
django-social-share
django-summernote
django-taggit
future
gunicorn
html5lib
http-ece
idna
importlib-metadata

mccabe
oauthlib
path
pathlib
Pillow
psycopg2
pytz
pycparser
pyflakes
pymemcache
pyOpenSSL
PyPDF2
python-memcached
python3-openid
reportlab
requests
requests-oauthlib

six
social-auth-app-django
social-auth-core
toml
typing-extensions
urllib3
webencodings
Werkzeug
whitenoise
xhtml2pdf
zipp
