{% load static %}
{% load social_share %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ZeeBLOG - {% block title %}{% endblock title %}</title>
  {% include 'links.html' %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

{% include 'navbar.html' %} 
<br /><br />
<main class="container my-3">
        
</main>
<body class="w3-light-grey">  
    <div style = "margin-top : 100px; margin-bottom:100px;" class = "container">
            
        {% if messages %}
            
            {% for message in messages %}
            {% if message.tags == "info" %}
            <div class="alert alert-danger">{{ message }}</div>
            {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>

            {% endif %}


            {% endfor %}
            
        {% endif %}
        {% block body %}
        
        {% endblock body %}

    </div>
    {% include "scripts.html" %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
    <hr class="m-0" />

    
    {% include "footer.html" %}
  </body>
</html>
