  
{% extends "base.html" %}
{% load social_share %}
{% load crispy_forms_tags %}
{% block title %} {{ article.title }} {% endblock title %}
{% block body %}


    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h3 class="mt-4">{{article.title}}</h3>

      <!-- Author -->
      <p class="lead">
        
        Posted by

        {{article.author.username}} 
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.pub_date}}</p>

      <hr>

      <!-- Preview Image -->
      {% if article.article_image %}
      <img class="img-fluid rounded" src="{{blog.profile_image.url}}" alt="">
      {% endif %}
     

      <hr>
      <div style="display:flex" data-role="tagsinput">
          {% for tag in article.tags.all %}
          <a href="{% url 'blog:article_tag' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
          {% endfor %}
      </div>
      <p class="lead">
          {{article.content|safe}}
      </p>

      <hr>
  </div>
      <hr>
    <hr>
    <br/>


    <form action="{% url 'blog:article_like' article.slug %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="article_slug", value="{{ article.slug }}", class="btn btn-primary btn-sm">
    <br/>
    <br/>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
      {{ article.total_likes }}
      </button>
    </form>
    <hr />
      <br>
      <h2> Comments...</h2>
      {% if not article.comments.all %}
        no comments yet..Add One
      {% else %}
        {% for comment in article.comments.all %}
          <strong>
            {{ comment.name }} -
            {{ comment.created_on }}
          </strong>
          <br />
          {{ comment.body }}
        {% endfor %}
        {% endif %}


      <hr />
      <br/>
      <div class="card my-4 container">
      <h2>Similar posts</h2>
      {% for post in similar_posts %}
      <p>
      <a href="{% url 'blog:detail' article.slug %}">{{ post.title }}</a>
      </p>
      {% empty %}
      There are no similar posts yet.
      {% endfor %}
      </div>

      

{% endblock body %}
